body {
    font-family: "Noto Sans", sans-serif;
    font-size: 100%;
    margin: 0px;
    /* border-style: dashed;
    border-color: blueviolet;
    border-width: 1px; */
}

p {
    font-family: "Noto Sans", sans-serif;
    margin-left: 12vw;
    margin-right: 12vw;
    text-indent: 25px;
    tab-size: 8px;
    font-size: 100%;
}

.wide {
    text-indent: 25px;
    margin-left: 6vw;
    margin-right: 6vw;
    text-align: center;

}

h2 {
    font-family: "Bowlby One", sans-serif;
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    clip-path: inset(0px 0px -30px 0px); /* This line was created with the help of Google AI Overviews*/
    height: 60px;
    width: 100%;
}

nav a {
  text-decoration: none;  
  color: brown;
}

nav a:hover {
    color: orangered;
}

.nav-bar ol {
    list-style-type: none;
}

.nav-item {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}

.nav-item:last-of-type {
    margin-right: 30px;
}

#nav-logo {
    margin-right: auto;
    margin-left: 15px;
    height: 80%;
    width: height;
}

.section-title-centered {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
    margin-top: 45px;
}

.section-title-centered > h2, h3 {
    margin: 0px;;
}

@media (min-width: 768px) {
    body {
        font-size: 120%;
    }

    .section-title-centered {
        margin-bottom: 75px;
        margin-top: 75px; 
    }

}

/* For desktop */
@media (min-width: 1024px) {
    body {
        font-size: 130%;
    }

    nav {
        height: 70px;
    }

    .section-title-centered {
        margin-bottom: 100px;
        margin-top: 100px; 
    }

}